
{% extends "layouts/base.html" %}
{% block title %} ingreso {% endblock %} 

{% block content %}
<div class="card card-chart" cellspacing="20px">
      <div>         
            <div class="col-sm-20" >
                  <h2 align="center">
                        Ingresos:
                  </h2> 
                  {% if msg %}
                        <p class="text-danger"align="center">
                              {{ msg }}
                        </p>
                  {% else %}  
                        <p align="center">
                              esta tabla deberia aparecer cuando el usuario pidiera que se agregaran datos nuevos
                        </p>

                  {% endif %} 
                  {% if exito %}
                        <div class="col-md-6">
                              <div class="card">
                                    <div class="alert alert-success">
                                          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                          <i class="tim-icons icon-simple-remove"></i>
                                          </button>
                                          <span>
                                                <b>
                                                      Exito - 
                                                </b> 
                                                se ha añadido con exito a la base de datos
                                          </span>
                                    </div>
                              </div>
                        </div>
                  {% endif %} 
                  <table id="table1"; cellspacing="50px" cellpadding="30%"; align="center"> 
                        <div aling="right"class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                              <label class="btn btn-sm btn-primary btn-simple active" id="Add" >
                                    <input type="radio" name="add" checked>
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                          añadir
                                    </span>
                                    <span class="d-block d-sm-none">
                                          <i class="tim-icons icon-single-02"></i>
                                    </span>
                              </label>
                              <label class="btn btn-sm btn-primary btn-simple"  id="edit">
                                    <input type="radio" class="d-none d-sm-none"  name="edit" action='/a/'>
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" >
                                          editar
                                    </span>
                                    <span class="d-block d-sm-none">
                                          <i class="tim-icons icon-gift-2"></i>
                                    </span>
                              </label>
                              <label class="btn btn-sm btn-primary btn-simple" id="2" >
                                    <input type="radio" class="d-none" name="options">
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                          borrar
                                    </span>
                                    <span class="d-block d-sm-none">
                                          <i class="tim-icons icon-tap-02"></i>
                                    </span>
                              </label>
                        </div>
                        <form method="post" action="/soporte-add/" name="1">  
                              {% csrf_token %}
                              <tr>    
                                    <td  align="center" class="style1">
                                          Origen/Destino:<input type="text" name="origen/destino" /> 
                                    </td> 
                              </tr>    
                              <tr>    
                                    <td align="center">
                                          Comentario(opcional):
                                    <textarea rows="3" cols="15" name="descripcion"></textarea>
                                    </td>    
                                    
                              </tr>
                              <tr>    
                                    <td  align="center" class="style1">
                                          Cantidad:<input type="text" name="cantidad" />     
                                          <select name="moneda">       
                                          <option value="Euro">Euro</option>    
                                          <option value="US Dollar" selected="selected">US Dollar</option>    
                                          </select>  
                                    </td> 
                              </tr> 
                              </select> 
                              <tr>    
                                    <td  align="center">    
                                          <select name="tipo">       
                                                <option value="ingreso"selected="selected">
                                                      ingreso
                                                </option>    
                                                <option value="gasto" >
                                                      gasto
                                                </option> 
                                          </select>  
                                          <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','right')">
                                                Añadir
                                          </button>  
                                          
                                          <input type="reset" value="Borrar"> 
                                    </td>
                                    
                              </tr>
                        </form>
                  </table>
            </div>
      </div>
</div>

{% endblock content %}