{% extends "layouts/base.html" %}

{% block title %} movimientos {% endblock %} 

{% block content %}
<h2>movimientos</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">Page Blank</h6>
                    <h4 class="card-title">
                        Add your content 
                    </h4>
                    <a href="/" class="btn btn-primary btn-round">Home</a>
                </div>
            </div>
        </div>
    </div>
</h2>

{% endblock content %}